body {
    background-color: #000;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
  }
  
  .post {
    background-color: white;
    width: 30rem;
    height: 45rem;
    padding: 0.9rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .left-section {
    display: flex;
    align-items: center;
    gap: 8px; 
  }
  
  .fa-html5 {
    font-size: 24px;
  }
  
  .tit {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-weight: bold;
    font-size: 14px;
  }
  
  .username {
    font-size: 13px;
    color: gray;
  }
  
  .menu-icon {
    color: #666;
    cursor: pointer;
  }
  .fa-html5 .menu-icon{
    font-size: 2.4rem;
  }

.post-header h1, p{
    flex-direction: column;
}

.fa-fa-ellipsis-vertical{
    align-self: flex-end;
}

.fa-bookmark{
    align-self: baseline, flex-end;
}
.fa-regular {
  font-size: 3rem;
}